@model Homebank.Web.Models.AccountOverviewModel

<div class="row">
    <div class="col-12">
        <div class="card text-white border-0">
            <div class="card-header bg-secondary">Overview</div>
            <div class="card-body p-0">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="w-50">Name</th>
                            <th class="w-25">Future balance</th>
                            <th class="w-25">Current balance</th>
                        </tr>
                    </thead>
                    <tbody class="pointer">
                        @foreach (var account in Model.Accounts)
                        {
                            <tr onclick="window.location = '@Url.Action("Show", "Account", new { id = account.Id })';">
                                <td>@account.Name</td>
                                <td>@account.FutureBalance.ToString("F")</td>
                                <td>@account.CurrentBalance.ToString("F")</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>@Model.Accounts.Sum(a => a.FutureBalance).ToString("F")</td>
                            <td>@Model.Accounts.Sum(a => a.CurrentBalance).ToString("F")</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>