@model Homebank.Web.Models.AccountShowModel

<div class="page-header">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<h1>@Model.Account.Name</h1>
		</div>
		<div class="col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-4">
			<table class="table table-bordered table-striped">
				<tr>
					<th>Current balance:</th>
					<td>@Model.CurrentBalance</td>
				</tr>
				<tr>
					<th>Future balance:</th>
					<td>@Model.FutureBalance</td>
				</tr>
			</table>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-12 col-sm-12">
		<table class="table table-striped table-bordered linkify">
			<thead>
				<tr>
					<th>Date</th>
					<th>Description</th>
					<th>Earnings</th>
					<th>Expenses</th>
					<th>Category</th>
					<th>Reference account</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var transaction in Model.Transactions)
				{
					<tr>
						<td>@Html.ActionLink(transaction.Date.ToString("yyyy-MM-dd"), "Edit", "Transaction", new { id = transaction.Id, account = Model.Account.Id }, null)</td>
						<td>@Html.ActionLink(transaction.Description, "Edit", "Transaction", new { id = transaction.Id, account = Model.Account.Id }, null)</td>
						<td>
							@if (transaction.Bookings.First(p => p.Account.Id == Model.Account.Id).Amount > 0)
							{
								@Html.ActionLink(transaction.Bookings.First(p => p.Account.Id == Model.Account.Id).Amount.ToString(), "Edit", "Transaction", new { id = transaction.Id, account = Model.Account.Id }, null)
							}
						</td>
						<td>
							@if (transaction.Bookings.First(p => p.Account.Id == Model.Account.Id).Amount < 0)
							{
								@Html.ActionLink(transaction.Bookings.First(p => p.Account.Id == Model.Account.Id).Amount.ToString(), "Edit", "Transaction", new { id = transaction.Id, account = Model.Account.Id }, null)
							}
						</td>
						<td>@Html.ActionLink(transaction.Category.Name, "Edit", "Transaction", new { id = transaction.Id, account = Model.Account.Id }, null)</td>
						<td>
							@if (transaction.Bookings.Count == 2)
							{
								@Html.ActionLink(transaction.Bookings.First(p => p.Account.Id != Model.Account.Id).Account.Name, "Edit", "Transaction", new { id = transaction.Id, account = Model.Account.Id }, null)
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
		
		@using Homebank.Web.Extensions;
		@Html.BootstrapPager(Model.CurrentPage, index => Url.Action("Show", "Account", new { page = index }), Model.TotalTransactions, 100, 10)
	</div>
</div>