<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homebank</title>
    <script src="~/bundle.js"></script>
    <style>
        .card-dropdown {
            position: absolute;
            left: auto !important;
            right: -80px !important;
        }

        .pointer {
            cursor: pointer;
        }
    </style>
</head>
<body class="@( string.IsNullOrEmpty(ViewBag.Username) || !string.IsNullOrEmpty(ViewBag.TraceIdentifier) ? "bg-gradient-secondary" : "" )">
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md mb-4 shadow">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Homebank</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    @if (string.IsNullOrEmpty(ViewBag.Username))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Security" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Security" asp-action="Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="List">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Category" asp-action="List">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Template" asp-action="List">Templates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Reporting" asp-action="Index">Reporting</a>
                        </li>
                    }
                </ul>
                @if (!string.IsNullOrEmpty(ViewBag.Username))
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">Logged in as @ViewBag.Username</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="User" asp-action="Settings">Settings</a>
                                <a class="dropdown-item" asp-controller="Security" asp-action="Logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>

    @if (string.IsNullOrEmpty(ViewBag.Username) || !string.IsNullOrEmpty(ViewBag.TraceIdentifier))
    {
        <div class="container">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="container-fluid">
            @RenderBody()
        </div>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>