@model IEnumerable<Homebank.Entities.Template>

<div class="page-header">
	<div class="btn-group pull-right">
		<a href="@Url.Action("Add", "Template")" class="btn btn-primary">Add template</a>
	</div>
	<h1>Templates</h1>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Account</th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var template in Model)
				{
					<tr>
						<td>@template.Account.Name</td>
						<td>@template.Name</td>
						<td>
							@Html.ActionLink("Edit", "Edit", "Template", new { id = template.Id }, new { @class = "btn btn-primary btn-sm" })
							@Html.ActionLink("Remove", "Remove", "Template", new { id = template.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Do you really want to delete \"" + template.Name + "\"?')" })
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
