<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Homebank">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Homebank</title>
    @Styles.Render("~/bundles/mobile/styles")
	
	<style type="text/css">
	</style>
</head>
<body>
	<div data-role="page" id="page">
		<div role="main" class="ui-content">
			@RenderBody()
		</div>
		<div data-role="footer">
			<h4>&copy; @DateTime.Now.Year - Homebank  - @Html.Partial("ViewSwitcher") </h4>
		</div>
	</div>
    @Scripts.Render("~/bundles/mobile/scripts")
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('nav#menu-left').mmenu();
		})
	</script>
</body>
</html>
