@model Homebank.Web.Models.AccountModel

<form method="POST" role="form" class="form-horizontal">
	@Html.AntiForgeryToken()
	<div class="form-group">
		@Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-2 col-sm-2 control-label" })
		<div class="col-md-10 col-sm-10">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
			@Html.ValidationMessageFor(m => m.Name, "", new { @class = "help-block text-danger" })
		</div>
	</div>
    <div class="form-group">
        @Html.LabelFor(m => m.Active, "Active", new { @class = "col-md-2 col-sm-2 control-label" })
        <div class="col-md-10 col-sm-10">
            @Html.CheckBoxFor(m => m.Active)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ControlDate, "ControlDate", new { @class = "col-md-2 col-sm-2 control-label" })
        <div class="col-md-10 col-sm-10">
            @Html.EditorFor(m => m.ControlDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.ControlDate, "", new { @class = "help-block text-danger" })
        </div>
    </div>
	<div class="form-group">
		<div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10">
			<button type="submit" class="btn btn-default">Save</button>
		</div>
	</div>
</form>

@section scripts{
    <script type="text/javascript">
		$(document).ready(function () {
			$("#Date").datepicker({ dateFormat: 'yy-mm-dd', firstDay: 1 });
		});
    </script>
}