@model IList<Homebank.Core.Entities.Account>

<div class="row">
    <div class="col-12">
        <div class="card text-white border-0">
            <div class="card-header bg-secondary">
                <span>Accounts</span>
                <a asp-controller="Account" asp-action="Add" class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="w-25">Name</th>
                            <th class="w-25">Active</th>
                            <th class="w-25">Control Date</th>
                            <th class="w-25">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model)
                        {
                            <tr>
                                <td>@account.Name</td>
                                <td>
                                    @if (account.Active)
                                    {
                                        <i class="fas fa-check"></i>
                                    }
                                </td>
                                <td>
                                    @if (account.ControlDate != null)
                                    {
                                        @account.ControlDate.Value.ToString("yyyy-MM-dd")
                                    }
                                </td>
                                <td>
                                    <a asp-controller="Account" asp-action="Edit" asp-route-id="@account.Id" class="btn btn-sm btn-success">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Account" asp-action="Remove" asp-route-id="@account.Id" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete \'@account.Name\'?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>