@model Homebank.Web.Models.AccountShowModel

<div class="row">
	<div class="col-sm-5 col-md-5 col-lg-7">
		<h1>@Model.Account.Name</h1>
	</div>
	<div class="offset-sm-2 offset-md-s offset-lg-s col-sm-5 col-md-5 col-lg-3">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Current balance:</th>
				<td>@Model.CurrentBalance</td>
			</tr>
			<tr>
				<th>Future balance:</th>
				<td>@Model.FutureBalance</td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card text-white border-0">
            <div class="card-header bg-secondary">
                <span>Transactions</span>
                <div class="float-right">
                    <div class="dropdown d-inline-block">
                        <button class="btn btn-sm btn-primary dropdown-toggle float-right" type="button" data-toggle="dropdown">Add</button>
                        <div class="dropdown-menu card-dropdown">
                            @Html.ActionLink("Default", "Add", "Transaction", new { id = Model.Account.Id }, new { @class = "dropdown-item" })

                            @foreach (var template in Model.Templates)
                            {
                                @Html.ActionLink(template.Name, "Add", "Transaction", new { id = template.Account.Id, template = template.Id }, new { @class = "dropdown-item" })
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-bordered table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th class="w-25">Description</th>
                            <th>Earnings</th>
                            <th>Expenses</th>
                            <th>Category</th>
                            <th>Reference account</th>
                        </tr>
                    </thead>
                    <tbody class="pointer">
                        @foreach (var transaction in Model.Transactions)
                        {
                            <tr onclick="window.location = '@Url.Action("Edit", "Transaction", new { id = transaction.Id, account = Model.Account.Id })';">
                                <td>@transaction.Date.ToString("yyyy-MM-dd")</td>
                                <td>@transaction.Description</td>
                                <td>
                                    @if (transaction.Bookings.First(p => p.Account.Id == Model.Account.Id).Amount > 0)
                                    {
                                        @transaction.Bookings.First(p => p.Account.Id == Model.Account.Id).Amount.ToString()
                                    }
                                </td>
                                <td>
                                    @if (transaction.Bookings.First(p => p.Account.Id == Model.Account.Id).Amount < 0)
                                    {
                                        @transaction.Bookings.First(p => p.Account.Id == Model.Account.Id).Amount.ToString()
                                    }
                                </td>
                                <td>@transaction.Category.Name</td>
                                <td>
                                    @if (transaction.Bookings.Count == 2)
                                    {
                                        @transaction.Bookings.First(p => p.Account.Id != Model.Account.Id).Account.Name
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12">
        @Html.Pager(Model.CurrentPage, index => Url.Action("Show", "Account", new { page = index }), Model.TotalTransactions, 100, 10)
	</div>
</div>