@model IEnumerable<Homebank.Core.Entities.Template>

<div class="row">
    <div class="col-12">
        <div class="card text-white border-0">
            <div class="card-header bg-secondary">
                <span>Templates</span>
                <a asp-controller="Template" asp-action="Add" class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="w-auto">Account</th>
                            <th class="w-auto">Name</th>
                            <th class="w-25">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var template in Model)
                        {
                            <tr>
                                <td>@template.Account.Name</td>
                                <td>@template.Name</td>
                                <td>
                                    <a asp-controller="Template" asp-action="Edit" asp-route-id="@template.Id" class="btn btn-sm btn-success">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Template" asp-action="Remove" asp-route-id="@template.Id" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete \'@template.Name\'?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>