@model Homebank.Web.Models.AccountOverviewModel

<table data-role="table" id="detail-table" data-mode="columntoggle" class="ui-responsive table-stroke">
	<thead>
		<tr>
			<th data-priority="1">Name</th>
			<th data-priority="1">Future balance</th>
			<th data-priority="1">Current balance</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var account in Model.Accounts)
		{
			<tr>
				<td>@Html.ActionLink(account.Name, "Show", "Account", new { id = account.Id }, null)</td>
				<td>@Html.ActionLink(account.FutureBalance.ToString("F"), "Show", "Account", new { id = account.Id }, null)</td>
				<td>@Html.ActionLink(account.CurrentBalance.ToString("F"), "Show", "Account", new { id = account.Id }, null)</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td>Total</td>
			<td>@Model.Accounts.Sum(a => a.FutureBalance).ToString("F")</td>
			<td>@Model.Accounts.Sum(a => a.CurrentBalance).ToString("F")</td>
		</tr>
	</tfoot>
</table>