@model Homebank.Web.Models.TransactionModel

<form method="POST" role="form" class="form-horizontal">
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.AccountId)
	<div class="form-group">
		@Html.LabelFor(m => m.Account, "Account", new { @class = "col-md-2 col-sm-2 control-label" })
		<div class="col-md-10 col-sm-10">
			@Html.TextBoxFor(m => m.Account, new { @class = "form-control", placeholder = "Amount", @readonly = "readonly" })
			@Html.ValidationMessageFor(m => m.Account, "", new { @class = "help-block text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Date, "Date", new { @class = "col-md-2 col-sm-2 control-label" })
		<div class="col-md-10 col-sm-10">
			@Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Date, "", new { @class = "help-block text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Amount, "Amount", new { @class = "col-md-2 col-sm-2 control-label" })
		<div class="col-md-10 col-sm-10">
			@Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = "Amount" })
			@Html.ValidationMessageFor(m => m.Amount, "", new { @class = "help-block text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Description, "Description", new { @class = "col-md-2 col-sm-2 control-label" })
		<div class="col-md-10 col-sm-10">
			@Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description" })
			@Html.ValidationMessageFor(m => m.Description, "", new { @class = "help-block text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.CategoryId, "Category", new { @class = "col-md-2 col-sm-2 control-label" })
		<div class="col-md-10 col-sm-10">
			@Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Key", "Value"), null, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "help-block text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ReferenceAccountId, "Reference account", new { @class = "col-md-2 col-sm-2 control-label" })
		<div class="col-md-10 col-sm-10">
			@Html.DropDownListFor(m => m.ReferenceAccountId, new SelectList(Model.ReferenceAccounts, "Key", "Value"), "No reference account", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.ReferenceAccountId, "", new { @class = "help-block text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10">
			<button type="submit" class="btn btn-default">Save</button>
			@if (Model.DataId > 0)
			{
				@Html.ActionLink("Delete", "Remove", "Transaction", new {id = Model.DataId, account = Model.AccountId}, new {@class = "btn btn-danger", onclick = "return confirm('Do you really want to delete this transaction?')"})
			}
		</div>
	</div>
</form>

@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			$("#Date").datepicker({ dateFormat: 'yy-mm-dd', firstDay: 1 });

			$("#Description").autocomplete({
				source: function(request, response) {
					$.ajax({
						url: '@Url.Action("Autocomplete", "Ajax")/' + $("#Description").val(),
						type: "POST",
						dataType: "json",
						success: function (data) {
							response($.map(data, function(item) {
								return { label: item, value: item };
							}));
						}
					});
				}
			});
		});
	</script>
}